# Copier ce fichier en .env et remplir les valeurs

# Snowflake
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_DATABASE=VELIB_DB
SNOWFLAKE_SCHEMA=RAW
SNOWFLAKE_WAREHOUSE=VELIB_WH
SNOWFLAKE_ROLE=DATA_ENGINEER

# GCP
GCP_PROJECT_ID=
GCS_BUCKET_RAW=velib-raw-zone

# Airflow
AIRFLOW__CORE__DAGS_FOLDER=./dags
AIRFLOW__CORE__LOAD_EXAMPLES=False
